* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.container {
    display: flex;
    flex: 2 1 0;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
    background-color: royalblue;
}

.container h1, .container p  {
    text-align: center;
}

.container p {
    font-size: 2.5rem;
}

.container p:nth-of-type(2) {
    font-weight: bold;
}

ul {
}

.problems {
}

.support {
}

address {
    text-align: center;
}

address span {
    font-weight: bold;
}
